<section class="padding-y-sm padding-y-lg-0">
  <div class="container bg-secondary padding-y-3xl padding-y-lg-5xl ">
    <div class="row">
      <div class="col text-center d-flex flex-column align-items-center row-gap-xl">
        <h3 class="display-xs">{{ "Certifierade" | t }}</h3>
        <div class="certified-logos d-flex column-gap-2xl">
          <img
            src="https://d1da7yrcucvk6m.cloudfront.net/sites/526/media/1215206_small_1fe21bb276b68d8b1423f725706652a4.webp?1726754219"
            height="100" width="96" alt="FSC Logga">
          <img src="https://d1da7yrcucvk6m.cloudfront.net/sites/526/media/1215207_small_PEFC_Logo_1.webp?1726754221"
               alt="PEFC Logga">
        </div>

        <p
          class="text-secondary">{{ "Vi är medlemmar i Pancert AB:s gruppcertifikat för spårbarhet CoC för FSC® (FSC-CO89427) och PEFC (PEFC/05-32-07/569." | t }}</p>
      </div>
    </div>
  </div>
</section>