<section class="report-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 bg-yellow-default">
        {{ 'report-block-1' | global_editable: class: 'yellow-block text-center padding-y-3xl padding-y-lg-5xl d-flex flex-column align-items-center display-md-heading text-primary text-lg-p neutral-button-primary-editable' }}
      </div>

      <div class="col-lg-6 bg-yellow-default">
        {{ 'report-block-2' | global_editable: class: 'yellow-block text-center padding-y-3xl padding-y-lg-5xl d-flex flex-column align-items-center display-md-heading text-primary text-lg-p neutral-button-primary-editable' }}
      </div>

    </div>
  </div>
</section>