<section class="report-section  padding-top-2xl padding-top-lg-3xl">
  <div class="bg-wrapper bg-yellow-default">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          {{ 'report-block-1' | global_editable: class: 'yellow-block text-center padding-y-3xl padding-y-lg-5xl d-flex flex-column align-items-center display-md-heading text-primary text-lg-p neutral-button-primary-editable' }}
        </div>

        <div class="col-lg-6">
          {{ 'report-block-2' | global_editable: class: 'yellow-block text-center padding-y-3xl padding-y-lg-5xl d-flex flex-column align-items-center display-md-heading text-primary text-lg-p neutral-button-primary-editable' }}
        </div>

      </div>
    </div>
  </div>
</section>